{% extends 'base.html' %}

{% block content %}
<div class="bg-white shadow-md rounded-md p-6 max-w-lg mx-auto mt-8">
    <h2 class="text-3xl font-bold text-center text-teal-600 mb-4">Add Your Record</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="mb-4">
            {% for category, message in messages %}
            <div class="text-white p-3 rounded-md {{ 'bg-green-500' if category == 'success' else 'bg-red-500' }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('add_record') }}" method="POST">
        <label for="lang" class="block text-gray-700">Language:</label>
        <input 
            type="text" 
            name="lang" 
            class="p-3 border border-gray-300 rounded-md w-full focus:ring-2 focus:ring-teal-500 focus:outline-none" 
            required>

        <label for="sentence" class="block mt-4 text-gray-700">Sentence/Phrase:</label>
        <input 
            type="text" 
            name="sentence" 
            class="p-3 border border-gray-300 rounded-md w-full focus:ring-2 focus:ring-teal-500 focus:outline-none" 
            required>

        <label for="mean" class="block mt-4 text-gray-700">Meaning:</label>
        <textarea 
            name="mean" 
            class="p-3 border border-gray-300 rounded-md w-full focus:ring-2 focus:ring-teal-500 focus:outline-none" 
            required></textarea>

        <label for="example" class="block mt-4 text-gray-700">Example:</label>
        <textarea 
            name="example" 
            class="p-3 border border-gray-300 rounded-md w-full focus:ring-2 focus:ring-teal-500 focus:outline-none" 
            required></textarea>

        <button 
            type="submit" 
            class="w-full mt-6 bg-blue-500 text-white font-bold py-3 rounded-md hover:bg-blue-600">
            Submit
        </button>
    </form>
</div>
{% endblock %}