<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {{ slogan }}</title>
    <link rel="icon" href="https://github.com/willi-felix/dicgo/raw/51d1d9a58e156814c3c0c4aa17dcf53bce8240da/20241225_062325_0000.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="font-sans bg-gray-100 flex flex-col min-h-screen">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">

    <!-- Sticky Header -->
    <header class="bg-blue-500 text-white sticky top-0 z-10 shadow-md">
        <div class="max-w-6xl mx-auto flex justify-between items-center p-4">
            <div>
                <h1 class="text-xl font-bold"><a href="/">{{ site_name }}</a></h1>
                <p class="text-sm">{{ slogan }}</p>
            </div>
            <nav class="flex flex-nowrap space-x-2 sm:space-x-4 text-sm sm:text-base lg:text-lg">
                <a href="#" class="hover:underline">Discord</a>
            </nav>
        </div>
        <div class="border-t border-black"></div>
    </header>

    <!-- Content -->
    <main class="max-w-4xl mx-auto p-4 flex-grow">
        {% block content %}{% endblock %}
    </main>

    <!-- Sticky Footer -->
    <footer class="bg-gray-800 text-white text-center py-2 mt-auto">
        <p>&copy; {{ current_year }} {{ site_name }}. All rights reserved.</p>
    </footer>
    <style>
        * {
            font-family: "Comfortaa", sans-serif;
        }
    </style>

</body>
</html>
