{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col justify-center items-center h-5/6 overflow-hidden bg-gradient-to-r from-[#81C784] to-[#388E3C] fixed top-0 left-0 right-0">
    <h2 class="text-4xl font-bold text-[#2E7D32] mb-6">Welcome to {{ site_name }}</h2>
    <form action="{{ url_for('search') }}" method="get" class="w-full max-w-lg">
        <input 
            type="text" 
            name="query" 
            placeholder="Search for a plant species..." 
            class="p-4 w-full border border-gray-300 rounded-full shadow-md focus:outline-none focus:ring-2 focus:ring-[#2E7D32]" 
            required>
        <button 
            type="submit" 
            class="w-full mt-4 p-3 bg-[#2E7D32] text-white font-bold rounded-full hover:bg-[#388E3C] shadow-md">
            Search
        </button>
    </form>
</div>
{% endblock %}